.cabal-sandbox
cabal.sandbox.config
.stack-work
idx/
dist/
log/
*.swp
*.swo
*.swn
*.swm
*.o
*.hi
*.dyn_hi
*.dyn_o
TAGS
tags
bench/tiers
test/core
test/express
test/fixtures
test/listable
test/main
test/name
test/utils
doc/*.html
doc/*.css
doc/*.js
doc/*.png
doc/*.gif
doc/*.json
mk/toplibs
