.cabal-sandbox
cabal.sandbox.config
.stack-work
idx/
dist/
log/
*.swp
*.swo
*.swn
*.swm
*.o
*.hi
*.dyn_hi
*.dyn_o
TAGS
tags
test/main
test/listable
doc/*.html
doc/*.css
doc/*.js
doc/*.png
doc/*.gif
doc/*.json
mk/toplibs
