.cabal-sandbox
cabal.sandbox.config
.stack-work
idx/
dist/
dist-newstyle/
log/
*.swp
*.swo
*.swn
*.swm
*.o
*.hi
*.dyn_hi
*.dyn_o
TAGS
tags
eg/u-extrapolate
eg/u-speculate
eg/u-conjure
bench/compare
bench/pairs
bench/sort
bench/tiers
test/canon
test/core
test/express
test/express-derive
test/fixtures
test/hole
test/instances
test/listable
test/main
test/map
test/match
test/name
test/name-derive
test/utils
test/fold
test/ord
test/show
test/triexpr
doc/**/*.html
doc/**/*.css
doc/**/*.js
doc/**/*.png
doc/**/*.gif
doc/**/*.json
README.html
mk/toplibs
